@font-face {
    font-family: "DMSans";
    src: url(./assets/fonts/DMSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "DMSans";
    src: url(./assets/fonts/DMSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "DMSans";
    src: url(./assets/fonts/DMSans-Bold.ttf);
    font-weight: 700;
}


:root {
    --background: #040D1B;
    --title-color: #F4F6FD;
    ---title-highlight-background: #0B183D;
    ---paragraph-color: #7E8694;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--title-color);
    font-family: "DMSans";
}

.page {
    padding: 0 70px;
}

.ribbon {
    height: 50px;
    line-height: 50px;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    padding-top: 20px;
}

.rib-logo {
    width: 200px;
    background-image: url(./assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.navbar {
    display: flex;
    width: calc(100% - 180px - 250px);
    justify-content: center;
}

.nav {
    margin: 0 20px 0 20px;
}

.btn-box {
    width: 250px;
    text-align: center;
    font-size: 15px;
}

.btn {
    width: 65px;
}

.btn.login {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn.signup {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 8px;
}

.btn.cart {
    height: 35px;
    width: 43px;
    background-color: transparent;
    background-image: url(assets/images/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px auto;
    border: 1px solid #3959FF;
    border-radius: 17px;
    padding: 8px;
    margin: 0 3px;
}

.btn.cart::after {
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 1px;
    content: '0';
    border-radius: 10px;
    background-color: #3959FF;
    position: relative;
    color: #fff;
    top: -15px;
    left: 20px;
    font-size: 13px;
}

.start-content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    text-align: center;
}

.start-heading {
    line-height: 70px;
    font-size: 53px;
    font-weight: 700;
    margin-top: 50px;
}

.blue-text {
    color: #3959FF;
    background-color: #0B183D;
    padding: 0 10px;
    border-radius: 15px;
}

.start-text {
    margin-top: 30px;
    color: #7E8694;
    line-height: 25px;
}

.start-btn {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 25px;
    font-weight: 400;
}

.start-image {
    height: calc(100% - 185px);

}

.image-1 {
    height: calc(80vw * 459 / 965);
    width: 80vw;
    background-image: url(assets/images/build_apps_screen_large.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 40px;
    position: relative;
    border-radius: 20px;
    /* margin-right: 50px; */
}

.image-2 {
    height: 35vw;
    width: calc(35vw * 309 / 389);
    background-image: url(assets/images/build_apps_screen_small.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 8vw;
    left: calc(100% - calc(35vw * 309 / 389) + 9vw);
    border-radius: 20px;
}

.feature-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.feat-heading {
    line-height: 60px;
    font-size: 45px;
    font-weight: 700;
}

.feat-text {
    line-height: 25px;
    margin-top: 20px;
    color: var(---paragraph-color);
}

.feat-tiles {
    height: calc(100% - 105px);
    display: flex;
    margin-top: 45px;
}

.tile {
    height: 175px;
    width: 35vw;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.container {
    display: flex;
    justify-content: center;
}

.icon {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px auto;
    background-color: var(---title-highlight-background);
    border-radius: 20px;
    padding: 5px;
}

.icon.performance {
    background-image: url(assets/images/features_native_performance.svg);
}

.icon.security {
    background-image: url(assets/images/features_security.svg);
}

.icon.ui {
    background-image: url(assets/images/features_beautiful_uis.svg);
}

.icon.development {
    background-image: url(assets/images/features_fast_development.svg);
}

.tile-heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
}

.tile-text {
    color: var(---paragraph-color);
    font-weight: 400;
    line-height: 25px;
}

.section {
    padding: 0 0 0 70px;
}

.builder-content {
    padding-top: 100px;
    display: flex;
}

.text-content {
    width: calc(100% - 800px);
    display: flex;
    flex-direction: column;
}

.build-heading {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
}

.build-text {
    margin-top: 20px;
    font-weight: 400;
    color: var(---paragraph-color);
    line-height: 28px;
}

.feature-btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 400;
}

.image-content {
    width: 800px;
    display: flex;
    overflow: hidden;
}

.sec-1 {
    width: calc(100% - 500px);
}

.image-3 {
    height: 25vw;
    width: calc(25vw * 309 / 389);
    background-image: url(assets/images/build_apps_screen_small.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
    position: relative;
    top: 15vw;
}

.sec-2 {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.image-4 {
    height: 30vw;
    width: calc(30vw * 965 / 459);
    background-image: url(assets/images/build_apps_screen_large.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

.image-5 {
    height: 25vw;
    width: calc(25vw * 309 / 389);
    background-image: url(assets/images/build_apps_screen_small.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
    margin-top: 20px;
}

.instruction-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.instruct-head {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}

.instruct-tiles {
    display: flex;
    margin-top: 40px;
}

.itile {
    width: 35vw;
    height: 230px;
    display: flex;
    flex-direction: column;
}

.icon.drag {
    background-image: url(assets/images/how_drag_and_drop.svg);
}

.icon.database {
    background-image: url(assets/images/how_database.svg);
}

.icon.deploy {
    background-image: url(assets/images/how_deploy.svg);
}

.itile-head {
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    margin-top: 20px;
}

.itile-text {
    color: var(---paragraph-color);
    line-height: 25px;
    margin-top: 20px;
}

.itile.arrowdown {
    width: 35vw;
    background-image: url(assets/images/how_arrow_down.svg);
    background-position: 30px 3px;
    background-repeat: no-repeat;
    background-size: 180px auto;
}

.itile.arrowup {
    width: 35vw;
    background-image: url(assets/images/how_arrow_up.svg);
    background-position: 30px 35px;
    background-repeat: no-repeat;
    background-size: 180px auto;
}

.icon.drag::after {
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 2px;
    content: '1';
    border-radius: 10px;
    background-color: #3959FF;
    position: relative;
    color: #fff;
    top: -9px;
    left: 30px;
    font-size: 12px;
}

.icon.database::after {
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 2px;
    content: '2';
    border-radius: 10px;
    background-color: #3959FF;
    position: relative;
    color: #fff;
    top: -9px;
    left: 30px;
    font-size: 12px;
}

.icon.icon.deploy::after {
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 2px;
    content: '3';
    border-radius: 10px;
    background-color: #3959FF;
    position: relative;
    color: #fff;
    top: -9px;
    left: 30px;
    font-size: 12px;
}

.ideas-content {
    display: flex;
    margin-top: 100px;
}

.image-container {
    width: calc(100% - 550px);
}

.image {
    height: 35vw;
    width: calc(38vw * 619 / 495);
    background-image: url(assets/images/industry_experts_screen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

.itext {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.itext-head {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}

.itext-para {
    font-weight: 400;
    color: var(---paragraph-color);
    line-height: 23px;
    margin-top: 20px;
}

.idea-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.idea {
    display: flex;
    line-height: 40px;
    margin-top: 10px;
}

.idea-tick {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(---title-highlight-background);
    background-image: url(assets/images/industry_experts_tick.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
}

.idea-text {
    width: calc(100% - 40px);
    font-weight: 500;
    padding-left: 10px;
}

.clients-content {
    margin-top: 100px;
    display: flex;
    padding: 0 8vw;
}

.ctext {
    width: calc(100% - 700px);
}

.ctext-head {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}

.ctext-para {
    color: var(---paragraph-color);
    font-weight: 400;
    line-height: 23px;
    margin-top: 20px;
}

.about-us {
    margin-top: 20px;
}

.about-btn {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-weight: 400;
}

.comment-boxes {
    width: 700px;
    display: flex;
}

.box-col1 {
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.box-1 {
    padding: 30px;
    background-color: #0b183d52;
    border-radius: 20px;
}

.box-2 {
    padding: 30px;
    background-color: #0b183d52;
    border-radius: 20px;
    margin-top: 20px;
}

.box-para {
    color: var(---paragraph-color);
    font-size: 15px;
    line-height: 25px;
}

.box-writer {
    display: flex;
    margin-top: 20px;
}

.box-quotes {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(---title-highlight-background);
    background-image: url(assets/images/client_quote.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px auto;
}

.writer-details {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.box-name {
    font-weight: 700;
    line-height: 25px;
}

.box-designation {
    font-size: 15px;
    color: var(---paragraph-color);
}

.box-col2 {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.box-3 {
    padding: 30px;
    background-color: #0b183d52;
    border-radius: 20px;
}

.box-4 {
    padding: 30px;
    background-color: #0b183d52;
    border-radius: 20px;
    margin-top: 20px;
}

.blog-content {
    margin-top: 100px;
    text-align: center;
}

.blog-head {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}

.blog-boxes {
    display: flex;
    margin-top: 30px;
}

.bbox {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 15px;
}

.advice1-image {
    width: 20vw;
    height: calc(20vw * 172 / 291);
    background-image: url(assets/images/blog_thumb_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

.blog1-image {
    width: 20vw;
    height: calc(20vw * 172 / 291);
    background-image: url(assets/images/blog_thumb_2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

.advice2-image {
    width: 20vw;
    height: calc(20vw * 172 / 291);
    background-image: url(assets/images/blog_thumb_3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

.blog2-image {
    width: 20vw;
    height: calc(20vw * 172 / 291);
    background-image: url(assets/images/blog_thumb_4.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

.bbox-type {
    width: 70px;
    font-size: 14px;
    color: #3959FF;
    line-height: 25px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(---title-highlight-background);
    border: none;
    margin-left: calc(50% - 35px);
}

.bbox-head {
    font-weight: 700;
    font-size: 23px;
    margin-top: 20px;
    line-height: 30px;
}

.bbox-date {
    color: var(---paragraph-color);
    margin-top: 15px;
    line-height: 20px;
}

.join-content {
    margin-top: 100px;
}

.join-box {
    display: flex;
    border-radius: 15px;
    background-color: #3959ff;
}

.jbox-text {
    width: 480px;
    padding: 60px;

}

.jbox-head {
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}

.jbox-para {
    color: #ffffff94;
    margin-top: 25px;
    line-height: 20px;
}

.jbox-input {
    margin-top: 35px;
}

.input-box {
    width: 200px;
    background-color: #ffffff21;
    border: none;
    border-radius: 20px;
    padding: 15px;
    outline: none;
}

.input-box::placeholder {
    color: #ffffffa0;
}
.join-btn {
    width: 100px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

.jbox-image_container {
    width: calc(100% - 480px);
    height: 30vw;
    padding-top: 60px;
    overflow: hidden;
}

.jbox-image {
    height: 37vw;
    width: calc(37vw * 661 / 405);
    background-image: url(assets/images/start_your_project.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 20px;
}

.footer {
    margin: 100px 0 70px 0;
    display: flex;
}

.foot-context {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.foot-logo {
    height: 2vw;
    background-image: url(assets/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.foot-address {
    margin-top: 25px;
    color: var(---paragraph-color);
    line-height: 25px;
}

.foot-email {
    margin-top: 20px;
    color: #fff;
}

.foot-hyperlinks {
    width: calc(100% - 700px);
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.hyper-head {
    color: var(---paragraph-color);
    margin-bottom: 25px;
}

.hyper-text {
    margin: 5px;
}

